@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<RadzenText TextStyle="TextStyle.DisplayH5">User Profile</RadzenText>
@if (user == null)
{
    <RadzenText>Loading...</RadzenText>
}
else
{

    <RadzenRow>
        <RadzenColumn>Property</RadzenColumn>
        <RadzenColumn>Value</RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn>DisplayName</RadzenColumn>
        <RadzenColumn>@user.DisplayName</RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn>UserPrincipalName</RadzenColumn>
        <RadzenColumn>@user.UserPrincipalName</RadzenColumn>
    </RadzenRow>

    <table class="table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tr>
            <td> DisplayName </td>
            <td> @user.DisplayName </td>
        </tr>
        <tr>
            <td> UserPrincipalName </td>
            <td> @user.UserPrincipalName </td>
        </tr>
    </table>
}

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
