@inherits LayoutComponentBase


<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel>@Title</RadzenLabel>
            <div style="padding: 10px">
                <LoginDisplay />
            </div>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </RadzenBody>
    <RadzenFooter>
        <Footer/>
    </RadzenFooter>
</RadzenLayout>

@code {
    private bool sidebar1Expanded = true;
    public string Title { get; set; } = "Home";
}