@page "/home"
<PageTitle>Home</PageTitle>

<h1>Welcome</h1>

<p>
    This website is currently under active development by Theodor Risager, but you are of course still more than welcome to look around.
</p>

<p>
    If you are not logged in, then some randomly generated data will be used to showcase the different featueres of the app.
</p>

<p>
    You can check out the state of development over at <a href="https://github.com/theodor349/WeeklyReview">GitHub</a>.
</p>
