@inherits LayoutComponentBase

<main>
    <SfSidebar Width="260px" CloseOnDocumentClick="true" Position="SidebarPosition.Left" Type="SidebarType.Over" @bind-IsOpen="@showMenu">
        <ChildContent>
            <div style="text-align:center">
                Sidebar
            </div>
            @*<SfButton @onclick="@ToggleNavMenu"></SfButton>*@
            @*<NavMenu></NavMenu>*@
        </ChildContent>
    </SfSidebar>
    <div>
        <div style="width:100%; height:40px; background:rgb(100,100,100)">
            <span style="float:left" class="m-1">
                <SfButton IconCss="e-icons e-menu" @onclick="@ToggleNavMenu"></SfButton>
            </span>
            <span style="float:right" class="m-2">
                <LoginDisplay />
            </span>
        </div>

        <div class="main-text-content">
            @Body
        </div>
    </div>
</main>

@code {
    private bool showMenu = true;

    private void ToggleNavMenu()
    {
        showMenu = !showMenu;
    }
}